.btn {
    background-color: #120f36;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 4px;
    border: none;
  }

  .btn:hover {
    color: #ffbb33;
  }
  

  