.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-top: 1em;
}

.alert p {
  text-align: center;
}

.heading {
  color: inherit;
}

.link {
  font-weight: bold;
}

.dismissible {
  padding-right: 3rem;
}

.dismissible .btn_close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
}

.primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.secondary {
  color: #41464b;
  background-color: #e2e3e5;
  border-color: #d3d6d8;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.light {
  color: #636464;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.dark {
  color: #141619;
  background-color: #d3d3d4;
  border-color: #bcbebf;
}